﻿@model HiddenMeet.Models.UserViewModel

@{
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
    ViewBag.Title = "Buscar Amigos";

    <script type="text/javascript">
        var Urls = {
            GetAllFriends: '@Url.Action("GetAllUsers", "Index")'
        };
    </script>
}
@section scripts
{
    <script src="~/Scripts/Index/Index.js"></script>
}
<div class="row" id="container-friends" data-bind="foreach: listUser">
    <div class="col-md-4">
        <div class="feed-box text-center">
            <section class="panel">
                <div class="panel-body">
                    <div class="corner-ribon black-ribon">
                    </div>
                    <a href="#">
                        <img data-bind="attr: { src: 'Images/'+ ImageProfile() }" alt="Foto perfil">
                        <h4 data-bind="text: Name"></h4>
                    </a>
                    <hr />
                    <p data-bind="text: Estatus"></p>
                </div>
            </section>
        </div>
    </div>
</div>
