﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.logoutbutton {
    background-color: #44c767;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    margin-top: 8px;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.logoutbutton:hover {
    background-color: #5cbf2a;
}

.logoutbutton:active {
    position: relative;
    top: 1px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
