﻿
@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/Template/_Layout.cshtml";

    <script type="text/javascript">
        var Urls = {
            UpdatePictureProfile: '@Url.Action("UpdatePictureProfile", "Profile")'
        };
    </script>
}
<link href="~/Content/blueimp-gallery/blueimp-gallery-indicator.css" rel="stylesheet" />
<link href="~/Content/blueimp-gallery/blueimp-gallery-video.css" rel="stylesheet" />
<link href="~/Content/blueimp-gallery/blueimp-gallery.css" rel="stylesheet" />
<link href="~/Content/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" />
@section scripts
{
    <script src="~/Scripts/User/Profile.js"></script>
}
<div class="row" id="tabProfile">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body profile-information">
                <div class="col-md-3">
                    <div class="profile-pic text-center">
                        <img data-bind="attr: { src: '../Images/'+ UsuarioViewModel().ImageProfile() }" alt="Foto Perfil" />
                    </div>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                    <div class="profile-statistics">
                        <h1>1240</h1><span class="text-muted"></span>
                        <p>Amigos</p><span class="text-muted"></span>
                        <h1>61,240</h1><span class="text-muted"></span>
                        <p>Likes</p><span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue">
                <ul class="nav nav-tabs nav-justified ">
                    <li class="active" id="tabProfile">
                        <a data-toggle="tab" href="#pictures">
                            Fotos
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#contacts" class="contact-map">
                            Contactos
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            Configuración
                        </a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content tasi-tab">
                    <div id="pictures" class="tab-pane active tabProfile">
                        <div class="row text-center" id="links" data-bind="foreach: userViewModel.UserPictures()">
                            <div class="col-md-3" style="margin-bottom:40px">
                                <div>
                                    <a data-bind="attr: { href: '../Images/'+ Name() }">
                                        <img class="img-thumbnail" data-bind="attr: { src: '../Images/'+ Name() }" style="width: auto;height: 300px;" alt="Foto">
                                    </a>
                                </div>
                                <div>
                                    <button class="btn btn-default ponerperfil" data-bind="click: PonerPerfil, clickBubble: false" style="margin-top: 10px" type="submit">Colocar de perfil</button>
                                </div>
                            </div>
                        </div>
                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                        <div id="blueimp-gallery" class="blueimp-gallery">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>
                    </div>
                    <div id="contacts" class="tab-pane ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="prf-contacts">
                                    <h2> <span><i class="fa fa-map-marker"></i></span> Dirección</h2>
                                    <div class="location-info">
                                        <p>
                                            Postal Address<br>
                                            PO Box 16122 Collins Street West<br>
                                            Victoria 8007 Australia
                                        </p>
                                        <p>
                                            Headquarters<br>
                                            121 King Street, Melbourne<br>
                                            Victoria 3000 Australia
                                        </p>
                                    </div>
                                    <h2> <span><i class="fa fa-phone"></i></span>Contactos</h2>
                                    <div class="location-info">
                                        <p>
                                            Celular		:
                                        </p>
                                        <p>
                                            Email		: <br>
                                        </p>
                                        <p>
                                            Facebook	: N/A<br>
                                            Twitter	: N/A
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="settings" class="tab-pane ">
                        <div class="position-center">
                            <div class="prf-contacts sttng">
                                <h2>  Personal Information</h2>
                            </div>
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label"> Avatar</label>
                                    <div class="col-lg-6">
                                        <input type="file" id="exampleInputFile" class="file-pos">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Company</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="c-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Lives In</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="lives-in" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Country</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="country" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Description</label>
                                    <div class="col-lg-10">
                                        <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="prf-contacts sttng">
                                <h2> socail networks</h2>
                            </div>
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Facebook</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="fb-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Twitter</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="twitter" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Google plus</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="g-plus" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Flicr</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="flicr" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Youtube</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="youtube" class="form-control">
                                    </div>
                                </div>

                            </form>
                            <div class="prf-contacts sttng">
                                <h2>Contact</h2>
                            </div>
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Address 1</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="addr1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Address 2</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="addr2" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Phone</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="phone" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Cell</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="cell" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Skype</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder=" " id="skype" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery.min.js"></script>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery-fullscreen.js"></script>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery-indicator.js"></script>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery-video.js"></script>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery-vimeo.js"></script>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery-youtube.js"></script>
<script src="~/Scripts/blueimp-gallery/blueimp-gallery.js"></script>